/* You can add custom styles here. */

// @import "plugins/numbered";

// Определяем переменную с нужным цветом
$selection-color: #7D40FF;

// Применяем стиль к выделению текста
::selection {
  background-color: $selection-color;
  color: #fff; // Цвет текста при выделении
}

// Для поддержки Firefox
::-moz-selection {
  background-color: $selection-color;
  color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

.markdown {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight:700;
  }
}

aside nav ul {
  li {
    & > a {
      font-weight: bold;
    }

    ul {
      li {
        & > a {
          font-weight: normal;
        }
      }
    }
  }
}